@import "globals";

.header {
    padding: 60px 0;
    .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        .header-container {
            display: flex;
            justify-content: space-between;
            .logo {

            }
            .nav {
                .nav-list {
                    display: flex;
                    height: 100%;
                    .nav-link {
                        font-size: 20px;
                        padding: 0px 22px 0px 22px;
                    }
                }
            }
        }
    }
}