@import 'globals';

.body {
	background-color: $theme-bg;
	color: $white;
	.tagline {
		max-width: 1280px;
		margin: 0px auto;
		font-family: poppins;
		font-size: 50px;
		line-height: 60px;
		padding: 50px 0;
	}
	.theme-video {
		max-width: 1280px;
		margin: 0px auto;
		padding-bottom: 50px;
	}
}
